
<div style="color: salmon; font-size: 124px; font-weight: bold;
             text-align: center; margin-top: 120px; background-color: #f0f0f0; 
             padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  hi coordinator
</div>
<button (click)="logout()" style="color: salmon; font-size: 124px; font-weight: bold;
             text-align: center; margin-top: 120px; background-color: #f0f0f0; 
             padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">Logout</button>