<br/>
<form
  [formGroup]="formCoordinator"
  (ngSubmit)="newCoordinator()"
  class="coordinator-form"
>
  <div>
    <label>שם פרטי:</label>
    <input type="text" formControlName="FirstName" />
  </div>
  @if (formCoordinator.get('FirstName')?.touched) 
            {  @if(formCoordinator.get('FirstName')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
               @if (formCoordinator.get('FirstName')?.hasError('minlength')) { 
               <div class="red">יש להכניס מינימום 2 תווים⚠️</div>}
            }


  <div>
    <label>שם משפחה:</label>
    <input type="text" formControlName="LastName" />
  </div>
  @if (formCoordinator.get('LastName')?.touched) 
            {  @if(formCoordinator.get('LastName')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
               @if (formCoordinator.get('LastName')?.hasError('minlength')) { 
               <div class="red">יש להכניס מינימום 2 תווים⚠️</div>}
            }

  <div>
    <label>מספר זהות:</label>
    <input type="text" formControlName="IdNumber" />
  </div>
  @if (formCoordinator.get('IdNumber')?.touched) 
            {  @if(formCoordinator.get('IdNumber')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
               @if (formCoordinator.get('IdNumber')?.hasError('IsraelIdValidator')) { 
               <div class="red">יש להכניס מספר תעודת זהות תקינה </div>}
            }

  <div>
    <label>אימייל:</label>
    <input type="email" formControlName="Email" />
  </div>
    @if (formCoordinator.get('Email')?.touched) 
              {  @if(formCoordinator.get('Email')?.hasError('required'))
                  {<div class=red>השדה חובה⚠️</div>}
                @if (formCoordinator.get('Email')?.hasError('email')) { 
                <div class="red">יש להכניס כתובת אימייל תקינה⚠️</div>}
              }

  <div>
    <label>מספר טלפון:</label>
    <input type="text" formControlName="PhoneNumber" />
  </div>
  @if (formCoordinator.get('PhoneNumber')?.touched) 
            {  @if(formCoordinator.get('PhoneNumber')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
            }

  <div class="inputEye">
    <label>סיסמה</label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      formControlName="UserPassword"
      />
      <button type="button" class="eyes" (click)="PasswordVisibility()">
        @if (!showPassword) {
          <mat-icon>visibility</mat-icon>
        } @else {
          <mat-icon>visibility_off</mat-icon>
        }
      </button>
  </div>
    @if (formCoordinator.get('UserPassword')?.touched) 
              {  @if(formCoordinator.get('UserPassword')?.hasError('required'))
                  {<div class=red>השדה חובה⚠️</div>}
                 @if (formCoordinator.get('UserPassword')?.hasError('minlength')) 
                  {<div class="red">יש להכניס סיסמה בעלת 8 תווים לפחות ⚠️</div>}
                 @if (formCoordinator.get('UserPassword')?.hasError('pattern')) 
                 {<div class="red">יש להכניס סיסמה עם אותיות גדולות וקטנות, מספרים ותווים מיוחדים⚠️</div>}
              }

  <div>
    <label>תפקיד:</label>
    <select formControlName="RoleId">
      @for (item of RoleIdData; track item.id) {
        <option [value]="item.id">{{ item.name }}</option>
      }
    </select>
  </div>  
  @if (formCoordinator.get('FirstName')?.touched) 
      {  @if(formCoordinator.get('FirstName')?.hasError('required'))
            {<div class=red>השדה חובה⚠️</div>}
      }


  <div>
    <label>עיר:</label>
    <input type="number" formControlName="CityId" />
  </div>
  @if (formCoordinator.get('CityId')?.touched) 
      {  @if(formCoordinator.get('CityId')?.hasError('required'))
        {<div class=red>השדה חובה⚠️</div>}
      }

  <div>
    <label>שם מוסד:</label>
    <input type="text" formControlName="SchoolName" />
  </div>
  @if (formCoordinator.get('SchoolName')?.touched) 
      {  @if(formCoordinator.get('SchoolName')?.hasError('required'))
        {<div class=red>השדה חובה⚠️</div>}
           @if (formCoordinator.get('SchoolName')?.hasError('minlength')) { 
            <div class="red">יש להכניס מינימום 2 תווים⚠️</div>}
         }


  <div>
    <label>מגדר:</label>
    <div>
      <label>
        <input type="radio" formControlName="IsBoys" value="1" /> מוסד לבנים
      </label>
      <label>
        <input type="radio" formControlName="IsBoys" value="0" /> מוסד לבנות
      </label>
    </div>
  </div>
  @if (formCoordinator.get('IsBoys')?.touched) 
            {  @if(formCoordinator.get('IsBoys')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
            }

  <div>
    <label>שם מנהל:</label>
    <input type="text" formControlName="PrincipalName" />
  </div>
  @if (formCoordinator.get('PrincipalName')?.touched) 
            {  @if(formCoordinator.get('PrincipalName')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
               @if (formCoordinator.get('PrincipalName')?.hasError('minlength')) { 
               <div class="red">יש להכניס מינימום 2 תווים⚠️</div>}
            }

  <div>
    <label>מספר טלפון מוסד:</label>
    <input type="text" formControlName="PhoneSecretary" />
  </div>
  @if (formCoordinator.get('PhoneSecretary')?.touched) 
            {  @if(formCoordinator.get('PhoneSecretary')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
               @if (formCoordinator.get('PhoneSecretary')?.hasError('phoneValidator')) { 
               <div class="red">יש להכניס מספר טלפון תקין⚠️</div>}
            }

  <div>
    <label>סוג מוסד:</label>
    <select formControlName="TypeSchoolId">
      @for (item of religiousData; track item.id) {
        <option [value]="item.id">{{ item.name }}</option>
      }
    </select>
  </div>
    @if (formCoordinator.get('TypeSchoolId')?.touched) 
              {  @if(formCoordinator.get('TypeSchoolId')?.hasError('required'))
                  {<div class=red>השדה חובה⚠️</div>}
              }

  <div>
    <label>גיל מוסד:</label>
    <select formControlName="AgeSchoolId">
      @for (item of AgeSchoolIdData; track item.id) {
        <option [value]="item.id">{{ item.name }}</option>
      }
    </select>
  </div>
    @if (formCoordinator.get('AgeSchoolId')?.touched) 
              {  @if(formCoordinator.get('AgeSchoolId')?.hasError('required'))
                  {<div class=red>השדה חובה⚠️</div>}
              }

  <br />
 

  <button class="btn btn-outline-secondary" type="submit" [disabled]="formCoordinator.invalid">הוספת רכזת📋</button>
</form>



