<form
  [formGroup]="formCoordinator"
  (ngSubmit)="newCoordinator()"
  class="coordinator-form"
>
  <div>
    <label>שם פרטי:</label>
    <input type="text" formControlName="FirstName" />
  </div>

  <div>
    <label>שם משפחה:</label>
    <input type="text" formControlName="LastName" />
  </div>

  <div>
    <label>מספר זהות:</label>
    <input type="text" formControlName="IdNumber" />
  </div>

  <div>
    <label>אימייל:</label>
    <input type="email" formControlName="Email" />
  </div>

  <div>
    <label>מספר טלפון:</label>
    <input type="text" formControlName="PhoneNumber" />
  </div>

  <div class="inputEye">
    <label>סיסמה</label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      formControlName="UserPassword"
      />
      <button type="button" class="eyes" (click)="PasswordVisibility()">
        @if (!showPassword) {
          <!-- <span class="material-symbols-sharp"> visibility </span> -->
          <mat-icon>visibility</mat-icon>
        } @else {
          <!-- <span class="material-symbols-sharp"> visibility_off </span> -->
          <mat-icon>visibility_off</mat-icon>
        }
      </button>
  </div>

  <div>
    <label>תפקיד:</label>
    <select formControlName="RoleId">
      @for (item of RoleIdData; track item.id) {
        <option [value]="item.id">{{ item.name }}</option>
      }
    </select>
  </div>

  <div>
    <label>עיר:</label>
    <input type="text" formControlName="CityId" />
  </div>

  <div>
    <label>שם מוסד:</label>
    <input type="text" formControlName="SchoolName" />
  </div>

  <div>
    <label>מגדר:</label>
    <div>
      <label>
        <input type="radio" formControlName="IsBoys" value="1" /> מוסד לבנים
      </label>
      <label>
        <input type="radio" formControlName="IsBoys" value="0" /> מוסד לבנות
      </label>
    </div>
  </div>

  <div>
    <label>שם מנהל:</label>
    <input type="text" formControlName="PrincipalName" />
  </div>

  <div>
    <label>מספר טלפון מוסד:</label>
    <input type="text" formControlName="PhoneSecretary" />
  </div>

  <div>
    <label>סוג מוסד:</label>
    <select formControlName="religiousId">
      @for (item of religiousData; track item.id) {
        <option [value]="item.id">{{ item.name }}</option>
      }
    </select>
  </div>

  <div>
    <label>גיל מוסד:</label>
    <select formControlName="AgeSchoolId">
      @for (item of AgeSchoolIdData; track item.id) {
        <option [value]="item.id">{{ item.name }}</option>
      }
    </select>
  </div>

  <br />

  <button type="submit" [disabled]="!formCoordinator.valid">הרשמה</button>
</form>

