<div class="header">
  <div (click)="logo()" ngbTooltip="דף הבית" tooltipClass="my-custom-class">
    <img class="logo" src="logo_for_light.png" alt="Home Page" />
  </div>

  <div>
    <div>
      <h3 class="title">הי {{ username }}! כיף לפגוש אותך:)</h3>
    </div>

    <div class="dateAndGreeting">
      <p class="text">{{ "" | greeting }}</p>
      <p class="text">{{ dateToHeader | hebrewDateConverter | async }}</p>
    </div>
  </div>
  <div>
     
    <div class="container">
      <div class="dropdown">
        <button class="moreOptions" (click)="toggleMenu()">
          <mat-icon class="mat-icon-btn">{{
            openMenu ? "close" : "more_vert"
          }}</mat-icon>
        </button>
        <div class="dropdown-menu" id="menu">
          <button class="option logout edit" (click)="logo()" (click)="toggleMenu()">
            <span>
              <!-- <img class="img_like" src="home.png" alt="home" /> -->
               <img class="img_like" src="home_rose.png" alt="home" />
                <!-- <img class="img_like" src="home_blue.png" alt="home" /> -->
            </span>
            <span>חזרה לדף הבית</span>
          </button>
          <div class="divider"></div>
          <button class="option logout edit" (click)="goToFevorite()" (click)="toggleMenu()">
            <span>
              <img class="img_like" src="heart_rose.png" alt="favorites" />
            </span>
            <span>המעודפים שלך </span>
          </button>

          <button class="option logout edit" (click)="openDialogEditD()" (click)="toggleMenu()">
            <span>
              <img class="img_like" src="edit_rose.png" alt="favorites" />
              <!-- <mat-icon class="mat-icon-btn icon">edit</mat-icon> -->
            </span>
            <span>עריכת הפרטים שלך</span>
          </button>
          <div class="divider"></div>
          <button (click)="logout()" class="option logout">
            <span>
              <mat-icon class="mat-icon-btn icon ">logout</mat-icon>
            </span>
            <span>להתנתקות</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
