.header{
    border-bottom: 1px solid #5f16eb;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(70, 80, 255, 0.05);
}
.logo{
    height: 80px;
}
.btn {
    margin: 10px;
    background-color: #FF5C67;
    color: white;
    transition: transform 0.2s ease, 
    box-shadow 0.2s ease; 
    display: flex;
    align-items: center
}
.btn:hover {
    color: #004aad;
    transform: translateY(-1px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.mat-icon-btn{
    margin-top: 5px;
    margin-right: 3px;
}