.header{
    border-bottom: 1px solid #5f16eb;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(70, 80, 255, 0.05);
    justify-content: space-between;
}
.logo{
    height: 100px;
}
// .btn {
//     margin: 10px;
//     background-color: #FF5C67;
//     color: white;
//     transition: transform 0.2s ease, 
//     box-shadow 0.2s ease; 
//     display: flex;
//     align-items: center
// }
// .btn:hover {
//     color: #004aad;
//     transform: translateY(-1px); 
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
// }
.logout{
    color: #FF5C67;
    width: 100%;
    background-color: transparent;
    border: 0px;
    display: flex;
    align-items: center;
    &:hover{
        color: #004aad;
    // transform: translateY(-1px); 
        //  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }
}
.edit{
    color: #1d1d1f;
}
.mat-icon-btn{
    margin-top: 5px;
    //  margin-left: 3px;
}
.icon{
    margin-left: 5px;
}
.moreOptions{
    background-color: transparent;
    border : 0px;
    border-radius: 50px;
    margin: 13px;
    &:hover{
        background-color: #dbd9f7;
    }
}



.header {
    border-bottom: 1px solid #5f16eb;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(70, 80, 255, 0.05);
    justify-content: space-between;
}

.logo {
    height: 100px;
}

.container {
    margin-left: 15px; /* שוליים שמאליים של 15px */
    padding: 10px; /* ריפוד לגבולות */
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.moreOptions {
    background-color: transparent;
    border: 0px;
    border-radius: 50px;
    margin: 13px;
    cursor: pointer; /* מראה אישור שהכפתור ניתן ללחיצה */
}

.dropdown-menu {
    display: none; /* ברירת מחדל - לא מוצג */
    position: absolute;
    left: 0; /* התפריט נפתח מ-0 משמאל */
    top: 100%; /* התפריט מופיע מתחת לכפתור */
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
     direction: rtl; /* כיוון הטקסט */
    text-align: right; 
    width:  auto; /* השתנה מ-105px ל-auto */
    min-width: 205px;
}

.dropdown-menu.show {
    display: block; /* כאשר הכיתה `show` תתווסף, התפריט יופיע */
}

.mat-icon-btn {
    margin-top: 5px;
}

.divider {
    border-top: 1px solid #ddd; /* צבע הקו */
    // margin: 5px 0; /* רווחים למעלה ולמטה */
}
 .option{
    padding: 10px;
    margin: 0px;
 }

