<div class="header">
  <div (click)="logo()" ngbTooltip="דף הבית" tooltipClass="my-custom-class">
    <img class="logo" src="logo_for_light.png" alt="Home Page" />
  </div>

  <div>
    <div>
      <h3 class="title">הי {{ username }}! כיף לפגוש אותך:)</h3>
    </div>

    <div class="dateAndGreeting">
      <p class="text">{{ "" | greeting }}</p>
      <p class="text">{{ dateToHeader | hebrewDateConverter | async }}</p>
    </div>
  </div>
  <div>

    <div class="container">
      <div class="dropdown">
        <button class="moreOptions" (click)="toggleMenu()">
          <mat-icon class="mat-icon-btn">{{
            openMenu ? "close" : "more_vert"
            }}</mat-icon>
        </button>
        <div class="dropdown-menu" id="menu">
          <button class="option logout edit" (click)="logo()" (click)="toggleMenu()">
            <span>
              <!-- <img class="img_like" src="home.png" alt="home" /> -->
              <img class="img_like" src="home_rose.png" alt="home" />
              <!-- <img class="img_like" src="home_blue.png" alt="home" /> -->
            </span>
            <span>חזרה לדף הבית</span>
          </button>
          <div class="divider"></div>
          <button class="option logout edit" (click)="goToFevorite()" (click)="toggleMenu()">
            <span>
              <img class="img_like" src="heart_rose.png" alt="favorites" />
            </span>
            <span>למעודפים שלך </span>
          </button>
          @if(!this.authService.hasPermission('superAdmin')){
          <button class="option logout edit" (click)="openDialogEditD()" (click)="toggleMenu()">
            <span>
              <img class="img_like" src="edit_rose.png" alt="favorites" />
              <!-- <mat-icon class="mat-icon-btn icon">edit</mat-icon> -->
            </span>
            <span>לעריכת הפרטים שלך</span>
          </button>
          }
          @if(listOfPermissions.length > 0) {
          <div class="divider"></div>
          <button class="option logout edit">
            <img class="img_like" src="Permissions.png" alt="favorites" />
            <span>ההרשאות שלך:</span>
          </button>


          @for (permission of listOfPermissions; track permission; let i = $index) {
          <button class="option logout edit" style="padding: 4px; margin-right: 8px;">
            <!-- <span style="margin-right: 10px;"> -->
            <mat-icon class="mat-icon-btn icon">check</mat-icon>
            <!-- </span> -->
            @switch (permission) {
            @case ('superAdmin') { מנהלת ראשית }
            @case ('userManagement') { ניהול משתמשים }
            @case ('editRoutes') { ניהול מסלולים }
            @case ('editAttractions') { ניהול אטרקציות }
            @case ('editHostels') { ניהול מקומות לינה }
            @case ('respondInGeneralForum') { הגבה בפורום כללי }
            @case ('respondInSafetyForum') { הגבה בפורום בטיחות }
            @case ( 'canRate') { הרשאת דירוג }
            @default { {{ permission }} }
            }
            <!-- </span> -->
          </button>
          <!-- <br /> -->
          }
          }
          <div class="divider"></div>
          <button (click)="logout()" class="option logout">
            <span>
              <mat-icon class="mat-icon-btn icon ">logout</mat-icon>
            </span>
            <span>להתנתקות</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>