.header{
    border-bottom: 1px solid #5f16eb;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(70, 80, 255, 0.05);
}
.logo{
    height: 80px;
}