<div class="dialog-container">

  <div class="dialog-header">
    <h2 mat-dialog-title class="title">מה את?</h2>

    <button mat-icon-button (click)="onClose()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="content">
    <p>בחרי אפשרות להמשך</p>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">

    <div class="actions">

  <button mat-stroked-button class="btn-role" (click)="chooseGuide()">
    <mat-icon class="icon">person</mat-icon> 
     מדריכה
  </button>

  <button mat-stroked-button class="btn-role" (click)="chooseCoordinator()">
    <mat-icon class="icon">work</mat-icon>
       רכזת
  </button>

  </div>

  </mat-dialog-actions>

</div>