.actions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

/* כפתור בסיס זהה לחלוטין לשניהם */
.btn-role {
  border-radius: 10px !important;
  padding: 8px 20px !important;

  font-weight: 600;
  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  gap: 6px;

  border: 1px solid #1f3b8e !important;
  color: #1f3b8e !important;
  background: transparent !important;

  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

/* hover זהה לשניהם */
.btn-role:hover {
  background: #1f3b8e !important;
  color: #fff !important;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(13,110,253,0.25);
}

/* האייקון הוא מה שמבדיל */
.icon {
  font-size: 18px;
  opacity: 0.85;
}
.role-dialog .mat-mdc-dialog-container {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.15);
}

/* בסיס הדיאלוג */
.dialog-container {
  direction: rtl;
  text-align: center;

  background: #fff;
  padding: 26px 24px;
  min-width: 360px;

  font-family: Calibri;
}

/* HEADER */
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #111;
}

.close-btn {
  color: #6c757d;
  transition: 0.2s ease;

  &:hover {
    color: #000;
    transform: scale(1.1);
  }
}

/* CONTENT */
.content {
  margin-top: 6px;
  font-size: 14px;
  color: #6c757d;
}





