<div class="textOnWlcomePage">
  <div class="container text-center" style="margin-top: 50px">
    <button
      class="btn"
      style="background-color: #1e3a8a; color: white; margin: 10px"
      (click)="openDialog()"
    >
      בואי נתחיל
    </button>
    <button
      class="btn"
      style="background-color: #14b8a6; color: white; margin: 10px"
      (click)="openDialog()"
    >
      אנחנו כבר מכירות?
    </button>
  </div>
  <div class="logo_dark">
    <img src="logo_for_dark.png" alt="לוגו" />
  </div>

  <p class="welcome-text">
    ברוכה הבאה ל-GuideX, כאן תגלו מידע רחב על טיולים, אכסניות, אטרקציות
    ומדריכות טיולים
  </p>
</div>
