.textOnWlcomePage {
  text-align: center;
}
.btn {
  margin: 10px;
  background-color: #ff5c67;
  color: white;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  display: flex;
  align-items: center;
}

.btn:hover {
  color: #004aad;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.container {
  display: flex;
  justify-content: flex-end;
}
.logo {
  width: 355px;
  margin: 10px;
  position: relative; /* כדי להחזיק את התוכן מעל לתמונה ושקיפות */
  z-index: 2; /* לוודא שהתוכן נמצא מעל השכבות */
}
// .logo_dark{

//     background-color: #004aad;
// }
.welcome-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.mat-icon-btn {
  margin-top: 5px;
  margin-right: 3px;
}

.card-container {
  display: flex; // תצוגה אופקית
  flex-wrap: wrap; // אפשר לסדר בשורות נוספות אם אין מקום
  gap: 20px; // רווח בין הכרטיסים
  padding: 20px;
  max-width: 1300px; // הגדלת רוחב מרבי לכרטיסים
  margin: auto;

  .card {
    flex: 1 1 220px; // מכוון רוחב בסיסי וסביר
    background-color: #f9f9f9; // צבע רקע לכרטיס
    border-radius: 8px; // פינות מעוגלות
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // הצללה
    padding: 20px;
    transition: transform 0.3s; // אנימציה בכניסה

    h2 {
      color: #333; // צבע כותרת
      margin-bottom: 10px;
    }

    p {
      color: #555; // צבע טקסט
      margin-bottom: 10px;
    }

    &:hover {
      transform: scale(1.01); // הגדלה בעכבר
    }
  }
}

.picCard {
  max-height: 60px;
  max-width: 60px;
}
.message-sender {
  font-size: smaller;
  display: inline; /* מאפשר לשולח להיות באותה שורה */
  margin-left: 5px;
}
// .......
.toPicture {
  position: relative;
  background-image: url("/toWelcomePage.png");
  background-size: cover; /* כדי למלא את כל הרקע */
  background-position: center; /* למרכז את התמונה */
  width: 100%;
  //   height: 100vh; /* גובה מלא של המסך, תוכל לשנות לפי הצורך */
}

.toPicture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 74, 173, 0.7); /* כחול עם שקיפות 65% */
  z-index: 1; /* לוודא שזה יהיה מעל התמונה */
}

.container {
  position: relative; /* כדי להחזיק את התוכן מעל לתמונה ושקיפות */
  z-index: 2; /* לוודא שהתוכן נמצא מעל השכבות */
}
