.textOnWlcomePage{
    text-align: center;

}
.btn {
     margin: 10px;
}
.container{
    display: flex;
    justify-content: flex-end;
}
img{
    width: 402px;
}
.logo_dark{
    
    background-color: #004aad;
}
.welcome-text{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}