<div class="textOnWlcomePage">
  <div class="container">
    <button
      class="btn"
      (click)="openDialogRegistrations()"
    ><span>רוצה להיצטרף אלינו?</span>
    <span>
      <mat-icon class="mat-icon-btn">person_add</mat-icon>
     </span>
    </button>
    <button
      class="btn"
      (click)="openDialogLogin()"
    >
    <span> אנחנו כבר מכירות!</span>
    <span>
      <mat-icon class="mat-icon-btn">login</mat-icon>
    </span>
    </button>
  </div>
  <div class="logo_dark">
    <img src="logo_for_dark.png" alt="לוגו" />
  </div>

  <p class="welcome-text">
    ברוכה הבאה ל-GuideX, כאן תגלו מידע רחב על טיולים, אכסניות, אטרקציות
    ומדריכות טיולים
  </p>
</div>
