<div class="show">
  <div class="background"></div>
  <div class="content">
    @if (!isAddNew) {
      <div class="likeAndEdit">
        <div>
          <button
            [class]="userCanEdit ? 'close-btn edit' : 'close-btn'"
            (click)="deleteHostel()"
          >
            <mat-icon class="close-icon">delete</mat-icon>
          </button>

          <button
            [class]="userCanEdit ? 'close-btn edit' : 'close-btn'"
            (click)="canEdit()"
          >
            <mat-icon class="close-icon">edit</mat-icon>
          </button>
        </div>

        <button class="likeButton" (click)="toggleFavorite()">
          <img
            class="img_like"
            [src]="isLiked ? 'heart_full_blue.png' : 'heart_blue.png'"
          />
        </button>
      </div>
    } @else {
      <br />
      <h3>
        <strong>הוספת מקום לינה</strong>
      </h3>
      <br />
    }

    <h2>
      @if (!userCanEdit) {
        <strong>{{ data.HostelsName }}</strong>
      } @else {
        <input
          class="inputToEdit"
          id="HostelsName"
          type="text"
          [(ngModel)]="data.HostelsName"
          [placeholder]="isAddNew ? 'שם מקום הלינה' : ''"
        />
      }
    </h2>

    @if (!userCanEdit) {
      <h5>
        <strong>{{ data.Description }}</strong>
      </h5>
    } @else {
      <textarea
        cols="45"
        id="Description"
        class="inputToEdit"
        [(ngModel)]="data.Description"
        [placeholder]="isAddNew ? 'תיאור מקום הלינה' : ''"
      >
      </textarea>
    }

    <p>
      <strong>אזור: </strong>
      @if (!userCanEdit) {
        @if (data.regionId) {
          {{ data.regionId | regionName }}
        }
      } @else {
        <select class="inputToEdit" id="regionId" [(ngModel)]="data.regionId">
          <option [ngValue]="0">בחירת אזור</option>
          @for (item of RegionsArrayData; track item.regionId) {
            <option [ngValue]="item.regionId">
              {{ item.regionName }}
            </option>
          }
        </select>
      }
    </p>
    <p>
      <strong>כתובת:</strong>
      @if (!userCanEdit) {
        {{ data.Address }}
      } @else {
        <input
          class="inputToEdit"
          id="Address"
          type="text"
          [(ngModel)]="data.Address"
        />
      }
    </p>
    <p>
      <strong>טלפון:</strong>
      @if (!userCanEdit) {
        {{ data.Phone }}
      } @else {
        <input
          class="inputToEdit"
          id="Phone"
          type="text"
          [(ngModel)]="data.Phone"
        />
      }
    </p>
    <p>
      <strong>מספר מיטות: </strong>
      @if (!userCanEdit) {
        {{ data.NumberOfPlaces }}
      } @else {
        <input
          class="inputToEdit"
          type="number"
          id="NumberOfPlaces"
          [(ngModel)]="data.NumberOfPlaces"
        />
      }
    </p>
    <p>
      <strong>כשרות המקום: </strong>
      @if (!userCanEdit) {
        {{ srv_all.GetKashrutName(data.kashrutId) }}
      } @else {
        <select class="inputToEdit" id="kashrutId" [(ngModel)]="data.kashrutId">
          <option [ngValue]="0">בחירת כשרות</option>
          @for (item of KashrutArrayData; track item.id) {
            <option [ngValue]="item.id">
              {{ item.name }}
            </option>
          }
        </select>
      }
    </p>

    <br />
    @if (userCanEdit) {
      <button (click)="saveEdit()" class="close-btn">
        <mat-icon class="close-icon">task_alt</mat-icon>
      </button>
    }
    <button (click)="onClose()" class="close-btn">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
</div>
