
<br/>
<div class="textOnWlcomePage">
<!-- ברוכים הבאים!!!!!!
<br/>
באתר זה תמצאו מידע אודות טיולים, אכסניות, אטרקציות ומדריכות טיולים.<BR/>
והכל בהתאמה מושלמת לציבור החרדי!!!! -->


  <div class="container text-center" style="margin-top: 50px;">
  <button class="btn" style="background-color: #1E3A8A; color: white; margin: 10px;" (click)="openDialog()">בואי נתחיל</button>
  <button class="btn" style="background-color: #14B8A6; color: white; margin: 10px;" (click)="openDialog()">אנחנו כבר מכירות?</button>
</div>
    <div>
        <!-- <img src="logo_good.png" alt="לוגו" /> -->
          <img src="logo_good_no_reka.png" alt="לוגו" />
    </div>
   


ברוכה הבאה לאתר GuideX<p><br/>
פה תמצאי מידע עשיר ומקיף אודות טיולים,
 אכסניות, אטרקציות ומדריכות טיולים. מטרת GuideX  היא ליצור אינטראקציה ידידותית ומקצועית
 בין רכזות טיולים בבתי הספר למדריכות טיולים, תוך התאמה לצרכים הייחודיים של הציבור החרדי.<br/>
 </p>
האתר נועד להציע שירותים מותאמים ומקצועיים עבור קהל היעד שלנו. בין היתר תמצאו את האפשרויות הבאות:<br/>
•	מציאת מסלולים לפי אזור: חיפוש מסלולי טיולים המתאימים לכל אזור בארץ, עם דגש על נגישות ונוחות.<br/>
•	התאמת מדריכות מורשות: אפשרות למצוא מדריכות טיולים מורשות לפי אזור הכשרה וצביון, כך שכל קבוצה תוכל למצוא את ההדרכה המתאימה לה ביותר.<br/>
•	איתור מקומות לינה: חיפוש מקומות לינה העומדים בהנחיות משרד החינוך ומותאמים לצרכים הייחודיים של ציבור המטיילים החרדי.<br/>
•	קבלת מידע בטיחותי: פורום ייעודי לרכזות טיולים ומדריכות בו ניתן לשתף מידע בטיחותי עדכני ולדון בנושאים חשובים.<br/>
•	שיתוף ידע וניסיון: פלטפורמה לשיתוף ידע וניסיון בין רכזות ומדריכות, על מנת לעודד למידה והתפתחות מקצועית מתמדת.<br/>
למה לבחור בנו?<br/>
•	התאמה אישית: כל המידע באתר מותאם במיוחד לצורך מציאת טיול מותאם עבורך בדיוק.<br/>
•	מגוון רחב: האתר מכיל מידע על מגוון רחב של יעדים ואפשרויות, כך שתוכלי למצוא את הפתרון המתאים ביותר עבורך.<br/>
•	ניסיון ומקצועיות: אנו מתחייבים לספק לך את המידע המדויק והעדכני ביותר, כדי להבטיח לך חווית טיול מושלמת.<br/><br/>

אנו מזמינים אתכם לגלות, לשתף וליהנות מהשירותים שאנו מציעים, בתקווה שכל טיול יהיה חוויה חיובית ומעשירה.<br/>
נהנה ביחד מהטיולים וניצור זיכרונות בלתי נשכחים!<br/><br/>
צוות GuideX 

</div>



