.table-walking-trail{
    width: 96%;
    margin: 20px auto;    
}
.HeaderOnTable{
    font-size: 18px;
    font-weight: bold;
    font-family: heebo, sans-serif;
    direction: rtl;
     text-align: right;
        background-color: #F6F6FF;
    border-bottom-color: #5F16EB;
}
.contentTable{
    font-size: 16px;
    font-family: heebo, sans-serif;
    direction: rtl;
    text-align: right;
    border-bottom-color: #5F16EB;
}


.paginator{
    direction: ltr;
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-family: heebo, sans-serif;
}
table{
    direction: rtl;
}


.showDetails{
    border:0px;
    background-color: #f6f6ff96;
     border-radius: 50px;
    

}
.showDetails:hover{
    background-color: #D9D0F5;
}


.showDetelis-icon {
  font-weight:lighter;
   font-size:larger;
  color: rgb(35, 35, 34);
  padding-top: 7px;
}




mat-icon{
    padding-top: 4px;
}