<app-header></app-header>

  <div class="router_outlet">
    <!-- 🔥 OFFCANVAS גלובלי (מחוץ לרוטים)
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="sidebar"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">תפריט</h5>
    <button class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">
    <a routerLink="/home" class="d-block">בית</a>
    <a routerLink="/trails" class="d-block">מסלולים</a>
    <a routerLink="/hostels" class="d-block">לינה</a>
  </div>
</div> -->


  <router-outlet></router-outlet>
  </div>
 