
<div class="show">
  <div class="background"></div>

  <div class="content">
    @if (!isAddNew) {
      <div class="likeAndEdit">
        <div>
        <button
          [class]="userCanEdit ? 'close-btn edit' : 'close-btn'"
          (click)="deleteAttraction()"
        >
          <mat-icon class="close-icon">delete</mat-icon>
        </button>


        <button
          [class]="userCanEdit ? 'close-btn edit' : 'close-btn'"
          (click)="canEdit()"
        >
          <mat-icon class="close-icon">edit</mat-icon>
        </button>
</div>

        <button class="likeButton" (click)="toggleFavorite()">
          <img
            class="img_like"
            [src]="isLiked ? 'heart_full_blue.png' : 'heart_blue.png'"
          />
        </button>
       

      
      </div>
    } @else {
      <br />
      <h3>
        <strong>הוספת אטרקציה</strong>
      </h3>
      <br />
    }
<br/>
    <!-- שם -->
    <h2>
      @if (!userCanEdit) {
        <strong>{{ data.attractionsName }}</strong>
      } @else {
        <input
          class="inputToEdit"
          id="AttractionsName"
          type="text"
          [(ngModel)]="data.attractionsName"
          [placeholder]="isAddNew ? 'שם האטרקציה' : ''"
        />
      }
    </h2>

    <!-- תיאור -->
    @if (!userCanEdit) {
      <h5>
        <strong>{{ data.description }}</strong>
      </h5>
    } @else {
      <textarea
        id="Description"
        class="inputToEdit"
        [(ngModel)]="data.description"
        [placeholder]="isAddNew ? 'תאור האטרקציה' : ''"
      ></textarea>
    }

    <!-- אזור -->
    <p>
      <!-- {{data | json}} -->
      <strong>אזור:</strong>

      @if (!userCanEdit) {
        @if (data.reigionId) {
          {{ data.reigionId | regionName }}
        }
      } @else {
        <select class="inputToEdit" id="reigionId" [(ngModel)]="data.reigionId">
          <option [ngValue]="0">בחירת אזור</option>
          @for (item of RegionsArrayData; track item.reigionId) {
            <!-- ngValue שומר על סוג המספר כדי שאזור לא יימחק/יהפוך ל-0 -->
            <option [ngValue]="item.reigionId">
              {{ item.regionName }}
            </option>
          }
        </select>
      }
    </p>

    <!-- סוג אטרקציה -->
    <p>
      <strong>סוג אטרקציה:</strong>

      @if (!userCanEdit) {
        @if (data.attractionTypeId) {
          {{ data.attractionTypeId | attractionTypeName | async }}
        }
      } @else {
        <select
          class="inputToEdit"
          id="AttractionsTypeId"
          [(ngModel)]="data.attractionTypeId"
        >
          <option [ngValue]="0">בחירת סוג אטרקציה</option>

          @for (item of AttractionsArrayData; track item) {
            <!-- ngValue שומר על סוג המספר כדי שסוג האטרקציה לא יימחק/יהפוך ל-0 -->
            <option [ngValue]="item.attractionTypeId">
              <!-- {{ item | json}} -->
              {{ item.attractionTypeName }}
            </option>
          }
        </select>
      }
    </p>

    <!-- שומר שבת -->
    @if (userCanEdit) {
      <p>
        <strong>שמירת שבת:</strong>
      </p>

      <select
        id="ShomerShabat"
        class="inputToEdit"
        [(ngModel)]="data.shomerShabat"
        (ngModelChange)="changeShomerShabat()"
      >
        <option [ngValue]="0">אינו שומר שבת</option>

        <option [ngValue]="1">לא ידוע</option>

        <option [ngValue]="2">שומר שבת</option>
      </select>
    }

    @if (data.shomerShabat == 0) {
      @if (!userCanEdit) {
        <h3>המקום אינו שומר שבת</h3>
      }
    } @else {
      @if (data.shomerShabat == 1) {
        @if (!userCanEdit) {
          <h5>
            <strong> יש לברר בנוגע לשמירת השבת של המקום </strong>
          </h5>
        }
      }

      <!-- כתובת -->
      <p>
        <strong>כתובת:</strong>

        @if (!userCanEdit) {
          {{ data.address }}
        } @else {
          <input
            class="inputToEdit"
            id="Address"
            type="text"
            [(ngModel)]="data.address"
          />
        }
      </p>

      <!-- טלפון -->
      <p>
        <strong>טלפון:</strong>

        @if (!userCanEdit) {
          {{ data.phone }}
        } @else {
          <input
            class="inputToEdit"
            id="Phone"
            type="text"
            [(ngModel)]="data.phone"
          />
        }
      </p>
    }

    <br />

    @if (userCanEdit) {
      <button (click)="saveEdit()" class="close-btn">
        <mat-icon class="close-icon"> task_alt </mat-icon>
      </button>
    }

    <button (click)="onClose()" class="close-btn">
      <mat-icon class="close-icon"> close </mat-icon>
    </button>
  </div>
</div>
