<div class="show">
  <div class="background"></div>
  <div class="content">
    <h2>
      <strong>{{ data.WalkingTrailName }}</strong>
    </h2>
    <h5>
      <strong>{{ data.Description }}</strong>
    </h5>
    <p><strong>אזור:</strong> {{ srv_all.GetRegions(data.RegionId) }}</p>
    <p>
      <strong>משך המסלול: </strong>
      @if (data.RouteDuration > 60) {
        @if (data.RouteDuration % 60 === 0) {
          {{ data.RouteDuration / 60 | number: "1.0-0" }} שעות
        }
        @if (data.RouteDuration % 60 !== 0) {
          {{ data.RouteDuration / 60 | roundDown }} שעות ו-
          {{ data.RouteDuration % 60 | number: "1.0-0" }} דקות
        }
      } @else if (data.RouteDuration == 60) {
        שעה אחת
      } @else if (data.RouteDuration < 60) {
        {{ data.RouteDuration }} דקות
      }
    </p>
    <p><strong>אורך המסלול: </strong> {{ data.LengthInKm }} ק"מ</p>
    <p><strong>דרגת המסלול: </strong> {{ data.Difficulty }}</p>
    <p><strong>מתאים לגילאי: </strong>{{ data.MinAge }} - {{ data.MaxAge }}</p>
    <p>
      @if (data.IsWet) {
        מסלול רטוב
      } @else {
        מסלול יבש
      }
    </p>
    <p><strong>הוראות הגעה: </strong>{{ data.Directions }}</p>

    <button (click)="onClose()" class="close-btn">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
</div>
