<div class="dialog-container">
  <div>
  <button mat-icon-button (click)="onClose()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  <p class="title">שכחת סיסמה? לא נורא, כאן תוכלי לאפס אותה</p>
</div>
  <form
    [formGroup]="ResetPassword"
    (ngSubmit)="resetUserPassword()"
    class="modal-content"
    action="/action_page.php"
  >
    <div>
      <label>אימייל:</label>
      <input type="text" formControlName="Email" (input)="userNotExists()"/>
    </div>
    @if (ResetPassword.get("Email")?.touched) {
      @if (ResetPassword.get("Email")?.hasError("required")) {
        <div class="red">אויששש, שכחת אותי....</div>
      }
      @if (ResetPassword.get("Email")?.hasError("email")) {
        <div class="red">יש להכניס אימייל תקין⚠️</div>
      }
    }
    <div>
      <label>פלאפון:</label>
      <input type="text" formControlName="PhoneNumber"  (input)="userNotExists()"/>
    </div>
    @if (ResetPassword.get("PhoneNumber")?.touched) {
      @if (ResetPassword.get("PhoneNumber")?.hasError("required")) {
        <div class="red">אויששש, שכחת אותי....</div>
      }@else if (
      ResetPassword.get("PhoneNumber")?.hasError("invalidPhone")
    ) {
      <p class="red">יש להכניס מספר פלאפון נייד תקין</p>
    }
    }




    <div>
      <label>תעודת זהות:</label>
      <input type="text" formControlName="IdNumber"  (input)="userNotExists()"/>
    </div>
    @if (ResetPassword.get("IdNumber")?.touched) {
      @if (ResetPassword.get("IdNumber")?.hasError("required")) {
        <div class="red">אויששש, שכחת אותי....</div>
      }
      @else if (ResetPassword.get("IdNumber")?.hasError("invalidID")) {
        <div class="red">יש להכניס תעודת זהות תקינה⚠️</div>
      }
    }


<br/>
    @if(findUserInList){
      <label>סיסמה חדשה</label>
      <div class="inputEye">
      <input
        [type]="showPasswordFirst ? 'text' : 'password'"
        formControlName="UserPassword"
      />
    
      <button type="button" class="eyes" (click)="PasswordFVisibility()">
        @if (!showPasswordFirst) {
          <mat-icon>visibility</mat-icon>
        } @else {
          <mat-icon>visibility_off</mat-icon>
        }
      </button>
    </div>
       @if (ResetPassword.get("UserPassword")?.touched) {
    @if (ResetPassword.get("UserPassword")?.hasError("required")) {
      <p class="red">אויששש, שכחת אותי....</p>
    }
   
    @if (ResetPassword.get("UserPassword")?.hasError("invalidpassword")) {
      <p class="red">
        יש להכניס סיסמה עם אותיות גדולות וקטנות, מספרים ותווים מיוחדים⚠️
      </p>
    }}


      <label>ושוב פעם...</label>
      <div class="inputEye">
       <input
        [type]="showPasswordSecond ? 'text' : 'password'"
        formControlName="UserRepeatPassword"
      />
          <button type="button" class="eyes" (click)="PasswordSVisibility()">
        @if (!showPasswordSecond) {
          <mat-icon>visibility</mat-icon>
        } @else {
          <mat-icon>visibility_off</mat-icon>
        }
      </button>
     
    </div>
     @if (ResetPassword.get("UserRepeatPassword")?.touched) {
    @if (ResetPassword.get("UserRepeatPassword")?.hasError("required")) {
      <p class="red">אויששש, שכחת אותי....</p>
    }
   
    @if (ResetPassword.get("UserRepeatPassword")?.hasError("invalidpassword")) {
      <p class="red">
        יש להכניס סיסמה עם אותיות גדולות וקטנות, מספרים ותווים מיוחדים⚠️
      </p>
    }}
    }


    <br/>
    @if(notExistsUser){
      <h5><strong>המשתמש לא קיים במערכת</strong></h5>
    }
    <br/>
    @if(!findUserInList){
    <button
    type="button"
    class="btn btn-outline-secondary"
    [disabled]="!isAnyFieldValid()"
    (click)="reset()"
  >
    איפוס הסיסמה <mat-icon>lock</mat-icon>
  </button>
  }



@if(findUserInList){
    <button
    class="btn btn-outline-secondary"
    type="submit"
    [disabled]="!ResetPassword.valid || !isSamePassword()"
  >
    איפוס הסיסמה <mat-icon>lock_reset</mat-icon>
  </button>}
  </form>
</div>
