
<div class="container mt-4">
  <br/><br/>
  <h5 class="display-6 text-center mb-4">המועדפים שלי</h5>
  <br/>

  @if (allTheFavorite.length === 0) {
    <p class="text-center text-muted">אין עדיין מועדפים.</p>
  }

  <div class="row">
    @for (item of allTheFavorite; track item.favoriteId) {
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <div>
              <button (click)="changeLikeStatus(item)" class="likeButton">
                <img
                  class="img_like"
                  [src]="
                    isLiked[$index]
                      ? 'heart_full_rose.png'
                      : 'heart_blue.png'
                  "
                />
              </button>
            </div>
            <div class="details" (click)="openDialogForItem(item)">
              <h6
                class="card-title showDetails"
              >
                @switch (item.itemType) {
                  @case ('attraction') {
                    אטרקציה: {{ item.itemName }}
                  }
                  @case ('hostel') {
                    אכסניית: {{ item.itemName }}
                  }
                  @case ('trail') {
                    מסלול: {{ item.itemName }}
                  }
                  @default {
                    {{ item.itemName }}
                  }
                }
              </h6>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
