<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card addTaskForm"> 
    
    <label for="username">שם משתמש (מייל)</label>
    <input type="text" formControlName="username" class="form-control me-2">
         
            @if (loginForm.get('username')?.touched) 
            {  @if(loginForm.get('username')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
               @if (loginForm.get('username')?.hasError('email')) { 
               <div class="red">יש להכניס כתובת מייל תקינה⚠️</div>}
            }

   <label>סיסמה</label>
   <input [type]="showPassword ? 'text' : 'password'" 
        formControlName="password"                                                                  
        class="form-control me-2">
            <button type="button" class="toggle-btn" (click)="toggleShowPassword()">
                @if(showPassword){
                    <span >👁️</span>
                }
                @else{
                    <span>👁️‍🗨️</span>
                }
            </button>
            @if (loginForm.get('password')?.touched) 
            {  @if(loginForm.get('password')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
               @if (loginForm.get('password')?.hasError('minlength')) 
               {<div class="red">יש להכניס מינימום 8 תווים⚠️</div>}

               @if (loginForm.get('password')?.hasError('pattern')) 
               {<div class="red">יש להכניס אותיות גדולות, קטנות, מספרים וסימנים מיוחדים⚠️</div>}

            } 
       
    <button type="submit" [disabled]="loginForm.invalid">שלח</button>
</form>