<div class="show">
  <div class="background"></div>

  <div class="content">
    @if (!isAddNew) {
      <div class="likeAndEdit">
        <button
          [class]="userCanEdit ? 'close-btn edit' : 'close-btn'"
          (click)="deleteTrail()"
        >
          <mat-icon class="close-icon">delete</mat-icon>
        </button>
        <button
          [class]="userCanEdit ? 'close-btn edit' : 'close-btn'"
          (click)="canEdit()"
        >
          <mat-icon class="close-icon">edit</mat-icon>
        </button>
        <button class="likeButton" (click)="toggleFavorite()">
          <img
            class="img_like"
            [src]="isLiked ? 'heart_full_blue.png' : 'heart_blue.png'"
          />
        </button>
      </div>
    } @else {
      <br />
      <h3>
        <strong>הוספת מסלול הליכה</strong>
      </h3>
      <br />
    }
    <h2>
      @if (!userCanEdit) {
        <strong>{{ data.WalkingTrailName }}</strong>
      } @else {
        <input
          class="inputToEdit"
          id="WalkingTrailName"
          type="text"
          [(ngModel)]="data.WalkingTrailName"
          [placeholder]="isAddNew ? 'שם המסלול' : ''"
        />
      }
    </h2>
    @if (!userCanEdit) {
      <h5>
        <strong>{{ data.Description }}</strong>
      </h5>
    } @else {
      <h6>
        <textarea
          cols="{{ data.Description.length / 2 }}"
          id="Description"
          class="inputToEdit"
          type="text"
          [(ngModel)]="data.Description"
          [placeholder]="isAddNew ? 'תיאור המסלול' : ''"
        >
        </textarea>
      </h6>
    }
    <p>
      <strong>אזור:</strong>
      @if (!userCanEdit) {
        {{ data.reigionId | regionName |async }}
      } @else {
        <select class="inputToEdit" id="reigionId">
          @for (item of RegionsArrayData; track item) {
            <option
              [value]="item.reigionId"
              [selected]="item.reigionId == data.reigionId"
            >
              <!-- {{ item | json}} -->
              {{ item.regionName }}
            </option>
          }
        </select>
      }
    </p>
    <p>
      @if (!userCanEdit) {
        <strong>משך המסלול: </strong>
        {{ walkingTrails.formatDuration(data.RouteDuration) }}
      } @else {
        <strong>משך המסלול בדקות: </strong>
        <input
          class="inputToEdit"
          id="RouteDuration"
          type="number"
          [(ngModel)]="data.RouteDuration"
          [placeholder]="isAddNew ? 'לדוגמה 90' : ''"
        />
      }
    </p>
    <p>
      <strong>אורך המסלול: </strong>
      @if (!userCanEdit) {
        {{ data.LengthInKm }} ק"מ
      } @else {
        <strong>אורך המסלול בק"מ: </strong>
        <input
          class="inputToEdit"
          id="LengthInKm"
          type="text"
          [(ngModel)]="data.LengthInKm"
          [placeholder]="isAddNew ? 'לדוגמה 3.5' : ''"
        />
      }
    </p>
    <p>
      <strong>דרגת המסלול: </strong>
      @if (!userCanEdit) {
        {{ data.Difficulty }}
      } @else {
        <select class="inputToEdit" id="Difficulty">
          <option [value]="1" [selected]="data.Difficulty == 1">1</option>
          <option [value]="2" [selected]="data.Difficulty == 2">2</option>
          <option [value]="3" [selected]="data.Difficulty == 3">3</option>
          <option [value]="4" [selected]="data.Difficulty == 4">4</option>
        </select>
      }
    </p>

    <p>
      <strong>מתאים לגילאי: </strong>
      @if (!userCanEdit) {
        {{ data.MinAge }} - {{ data.MaxAge }}
      } @else {
        <P><strong>מגיל: </strong></P>
        <input
          class="inputToEdit"
          id="MinAge"
          type="number"
          [(ngModel)]="data.MinAge"
          [placeholder]="isAddNew ? 'לדוגמה 5' : ''"
        />
        <P><strong>עד גיל: </strong></P>
        <input
          class="inputToEdit"
          id="MaxAge"
          type="number"
          [(ngModel)]="data.MaxAge"
          [placeholder]="isAddNew ? 'לדוגמה 80' : ''"
        />
      }
    </p>
    <p>
      @if (!userCanEdit) {
        @if (data.IsWet) {
          מסלול רטוב
        } @else {
          מסלול יבש
        }
      } @else {
        <strong> <p>המסלול רטוב?</p></strong>
        <h3 class="form-check form-switch centered">
          <input
            class="form-check-input"
            type="checkbox"
            [checked]="data.IsWet"
            value="data.IsWet"
            id="IsWet"
            switch
          />
        </h3>
      }
    </p>
    <p>
      @if (!userCanEdit) {
        <strong>הוראות הגעה: </strong>{{ data.Directions }}
      } @else {
        <h6>
          <textarea
            cols="{{ data.Directions.length / 2 }}"
            id="Directions"
            class="inputToEdit"
            type="text"
            [(ngModel)]="data.Directions"
            [placeholder]="isAddNew ? 'הוראות הגעה למסלול' : ''"
          >
          </textarea>
        </h6>
      }
    </p>
    <p>
      @if (userCanEdit) {
        <strong>עונות מתאימות: </strong>
        <div class="seasons">
          <label>
            <input type="checkbox" [checked]="data.SeasonSummer" id="Summer" />
            קיץ
          </label>
          <label>
            <input type="checkbox" [checked]="data.SeasonWinter" id="Winter" />
            חורף
          </label>
          <label>
            <input type="checkbox" [checked]="data.SeasonSpring" id="Spring" />
            אביב
          </label>
          <label>
            <input type="checkbox" [checked]="data.SeasonAutumn" id="Autumn" />
            סתיו
          </label>
        </div>
      } @else {
        <strong>עונות מומלצות: </strong>
        @if (
          data.SeasonSummer &&
          data.SeasonWinter &&
          data.SeasonSpring &&
          data.SeasonAutumn
        ) {
          כל עונות השנה.
        } @else {
          @if (data.SeasonSummer) {
            קיץ,
          }
          @if (data.SeasonWinter) {
            חורף,
          }
          @if (data.SeasonSpring) {
            אביב,
          }
          @if (data.SeasonAutumn) {
            סתיו,
          }
        }
      }
    </p>
    <br />
    @if (userCanEdit) {
      <button (click)="saveEdit()" class="close-btn">
        <mat-icon class="close-icon">task_alt</mat-icon>
      </button>
    }
    <button (click)="onClose()" class="close-btn">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
</div>
