<div class="reka">
  <div [class]="showSearch ? 'winSearch' : 'winSearch_not_ShowSearch'">
    <!-- <div class="filterToFind"> -->
    <div [class]="showSearch ? 'filterToFind' : 'filterToFind_not_showSearch'">
      <div>
        <div (click)="ToShowSearch()" class="label_search">
          <img src="search.png" class="img_search" />
          @if (showSearch) {
            <h2>חיפוש מקום לינה לפי נתונים</h2>
          } @else {
            <h6><b>חיפוש מקום לינה</b></h6>
          }
        </div>
        @if (showSearch) {
          <div class="toFilter">
            <div class="filter">
              <div class="filter-item">
                <label for="regionSelect">אזור </label>
                <select class="regionSelect" select id="regionSelect">
                  <option disabled selected [value]="0">בחירת אזור</option>
                  @for (item of RegionsArrayData; track item.id) {
                    <option [value]="item.id">
                      {{ item.name }}
                    </option>
                  }
                  <option value="0">כל האזורים</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="KashrutSelect">כשרות המקום </label>
                <select class="KashrutSelect" id="KashrutSelect">
                  <option disabled selected value="0">בחירת כשרות</option>
                  @for (item of KashrutArrayData; track item.id) {
                    <option [value]="item.id">
                      {{ item.name }}
                    </option>
                  }
                  <option value="0">כל הכשרויות</option>
                </select>
              </div>
            </div>
            <div class="filter-item">
              <button mat-button class="search btn" (click)="filterTable()">
                <span>חיפוש</span>
                <span>
                  <mat-icon class="mat-icon-btn">search</mat-icon>
                </span>
              </button>
            </div>
          </div>
          <div class="Reset_feeder">
            <button mat-button class="reset btn" (click)="resetFilters()">
              <span>איפוס המסננים</span>
              <span>
                <mat-icon class="mat-icon-btn">filter_alt_off</mat-icon>
              </span>
            </button>
          </div>
        }
      </div>
    </div>
  </div>
  @if (dataSource.data.length == 0 || dataSource.data == null) {
    <h3 class="notFoundInFilter">לא נמצאו מקומות לינה המתאימים לחיפוש</h3>
    <div class="Reset_feeder">
      <button mat-button class="reset btn" (click)="resetFilters()">
        <span>לאיפוס המסננים</span>
        <span>
          <mat-icon class="mat-icon-btn">filter_alt_off</mat-icon>
        </span>
      </button>
    </div>
  } @else {
    <div class="mat-elevation-z8 table-walking-trail">
     

      <table mat-table [dataSource]="dataSource" class="table">
        <!-- HostelsName Column -->
        <ng-container matColumnDef="HostelsName">
          <th mat-header-cell *matHeaderCellDef class="HeaderOnTable">
            |  שם מקום הלינה
          </th>
          <td mat-cell *matCellDef="let element" class="contentTable">
            {{ element.HostelsName }}
          </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef class="HeaderOnTable">|  תיאור</th>
          <td mat-cell *matCellDef="let element" class="contentTable">
            {{ element.Description }}
          </td>
        </ng-container>

        <!-- RegionId Column -->
        <ng-container matColumnDef="RegionId">
          <th mat-header-cell *matHeaderCellDef class="HeaderOnTable">|  אזור</th>
          <td mat-cell *matCellDef="let element" class="contentTable">
            {{ srv_all.GetRegions(element.RegionId) }}
          </td>
        </ng-container>

        <!-- NumberOfPlaces Column -->
        <ng-container matColumnDef="NumberOfPlaces">
          <th mat-header-cell *matHeaderCellDef class="HeaderOnTable">
            <div class="sort">
              |  מספר מקומות
              <button (click)="sortByNumOFPlaces()" class="showDetails">
                @if (!sortByPlaces) {
                  <mat-icon>arrow_downward</mat-icon>
                } @else {
                  <mat-icon>arrow_upward</mat-icon>
                }
              </button>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="contentTable">
            {{ element.NumberOfPlaces }}
          </td>
        </ng-container>

        <!--kashrutId Column-->
        <ng-container matColumnDef="kashrutId">
          <th mat-header-cell *matHeaderCellDef class="HeaderOnTable">|  כשרות</th>
          <td mat-cell *matCellDef="let element" class="contentTable">
            {{ srv_all.GetKashrutName(element.kashrutId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DetailsButton">
          <th mat-header-cell *matHeaderCellDef class="HeaderOnTable"></th>
          <td mat-cell *matCellDef="let element" class="contentTable">
            <button
              class="showDetails"
              (click)="openDialogRegistrations(element)"
            >
              <mat-icon class="showDetelis-icon">zoom_in</mat-icon>
            </button>
          </td>
        </ng-container>

              <ng-container matColumnDef="EditButton">
      <th mat-header-cell *matHeaderCellDef class="HeaderOnTable"></th>
      <td mat-cell *matCellDef="let element" class="contentTable">
        <button class="showDetails" (click)="openDialogRegistrations(element)">
          <mat-icon class="showDetelis-icon">edit</mat-icon>
        </button>
      </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20, 30, 50]"
        showFirstLastButtons
        aria-label="בחירת עמוד"
        class="paginator"
        [length]="dataSource?.data?.length"
      >
      </mat-paginator>
    </div>
  }
</div>
