<div class="dialog-container" >
  <!-- <div class="dialog-header">
    <img src="logo_for_light.png" alt="לוגו" class="logo" />
    <button mat-icon-button class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div> -->
  <p class="title">שכחת סיסמה? לא נורא, כאן תוכלי לאפס אותה</p>
  
  <form [formGroup]="ResetPassword"
  (ngSubmit)="reset()" 
  class="modal-content" action="/action_page.php"
  >
     <div>
    <label>אימייל:</label>
    <input type="text" formControlName="Email" />
  </div>
  @if (ResetPassword.get('Email')?.touched) 
            {  @if(ResetPassword.get('Email')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
                @if(ResetPassword.get('Email')?.hasError('email'))
                {<div class="red">יש להכניס אימייל תקין⚠️</div>}
            }
            <div>
             <label>טלפון:</label>
    <input type="text" formControlName="PhoneNumber" />
  </div>
  @if (ResetPassword.get('PhoneNumber')?.touched) 
            {  @if(ResetPassword.get('PhoneNumber')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
            }
<div>
             <label>תעודת זהות:</label>
    <input type="text" formControlName="IdNumber" />
  </div>
  @if (ResetPassword.get('IdNumber')?.touched) 
            {  @if(ResetPassword.get('IdNumber')?.hasError('required'))
                {<div class=red>השדה חובה⚠️</div>}
                @if(ResetPassword.get('IdNumber')?.hasError('IsraelIdValidator'))
                {<div class="red">יש להכניס תעודת זהות תקינה⚠️</div>}
            }



  </form>
